<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        body {
            background-color: aquamarine;
            border-color: black;
            color: black;
        }
        
        div {
            color: blueviolet;
            text-size-adjust: 4px;
        }
    </style>
</head>

<body>
    <div>
        <h3>hello {{name}}</h3>
        <img src="https://source.unsplash.com/1600x900/?nature,water" alt="dh">
    </div>
</body>

</html>